{% extends 'base.html'%}

{% block title%} cart {%endblock%}
{% block style%}
<link rel="stylesheet" href="/static/css/cart.css">
{% endblock%}
{%block content%}
<div class="container card shadow-lg mt-5">
    <table class="table">
        <thead class="thead">
        <tr>
            <th scope="col"> Sr. No</th>
            <th scope="col">Action</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart_list.cart_items.all%}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th>
                <a class="btn btn-danger" href="{%url 'remove_cart_item' item.uid %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
</svg></a>
            </th>
            <td><img src="/media/{{item.piza.images}}" style="height:120px; width:120px;"></td>
            <td>{{item.piza.pizza_name}}</td>
            <td>{{item.piza.price}}</td>

            <td>1</td>
            <td>{{item.piza.price}}</td>
        </tr>
        {%endfor%}
        <tr>
            <th scope="row">
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <b>Grand Total</b>
                <br>
                <p>{{cart_list.get_cart_total}}</p>
                <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="{{key}}"
                        data-description="Payment Gateway"
                        data-amount="{{cart_list.get_cart_total}}"
                        data-local="auto">
                </script>
            </td>


        </tr>
        </tbody>
    </table>
</div>
{% endblock %}